<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pinwormmy.mall.mapper.OrderMapper">

	<select id="showCart" resultType="com.pinwormmy.mall.dto.CartDTO">
		select cartNum, productNum, userId, quantity
			from cart
			where userId=#{userId}
			order by productNum desc
	</select>	
  
</mapper>