<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pinwormmy.mall.mapper.ProductMapper">

	<insert id="submitProduct">
		insert into productList(productNum, productName, productPrice, productDescription, regDate)
			values(
				(seq_ProductNum.NEXTVAL), 
				#{productName}, 
				#{productPrice},
				#{productDescription},
				(to_date(sysdate, 'YYYY-MM-DD HH24:mi:SS'))
			)
	</insert>
	
	<select id="productList" resultType="com.pinwormmy.mall.dto.ProductDTO">
		select productNum, productName, productPrice, productDescription, regDate
			from productList
			order by productNum desc
	</select>
	
	<select id="productDetails" resultType="com.pinwormmy.mall.dto.ProductDTO">
		select productNum, productName, productPrice, productDescription, regDate
			from productList
			where productNum=#{productNum}
	</select>
	
	<delete id="deleteProduct">
		delete from productlist 
			where productNum=#{productNum}
	</delete>
	
	<update id="submitModifyProduct">
		update productlist 
			SET productname = #{productname}, 
				productName = {productName}, 
				productPrice = {productPrice}, 
				productDescription = {productDescription}
			where productnum=#{productnum}
	</update>
	
</mapper>